@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.game-button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: var(--main-yellow);
  color: var(--game-button-blue);
  border-radius: 10px;
  border: none;
  margin-bottom: 6px;
  transition: background-color 0.3s ease;
}

.game-button:hover {
  background-color: var(--game-button-blue);
  color: var(--main-yellow);
  cursor: pointer;
}

.game-button:disabled {
  background-color: var(--disabled-button-bgc) !important;
  color : var(--disabled-button-color);
  cursor:not-allowed;
}

.sr-only {
  border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

fieldset {
  border: none;
}
